<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="decoder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <decoder.My.MySettings>
            <setting name="IP" serializeAs="String">
                <value />
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value />
            </setting>
            <setting name="Protocolo" serializeAs="String">
                <value>UDP</value>
            </setting>
            <setting name="Formato" serializeAs="String">
                <value />
            </setting>
            <setting name="DatoEnvio" serializeAs="String">
                <value />
            </setting>
            <setting name="Convertir" serializeAs="String">
                <value />
            </setting>
            <setting name="ACK" serializeAs="String">
                <value>False</value>
            </setting>
        </decoder.My.MySettings>
    </userSettings>
</configuration>